.project--content {

    h3 {
        font-size: 3vw;
        letter-spacing: 1.5;
        text-align: justify;
        opacity: 0;
    }
    h4 {
        font-size: 21px;
        letter-spacing: 0.03em;
    }
    h5 {
        font-size: 32px;
        letter-spacing: 0.03em;
    }
    p {
        font-size: 20px;
        letter-spacing: 0.04em;
        line-height: 1.6;
        font-style: normal;
        font-weight: normal;
        color: white;
        font-family: 'GL-Regular';
    }
    &__push {
        width: 100%;
        height: 100vh;
        position: relative;
    }
    &__introduction {
        box-sizing: border-box;
    }
    &__credits {
        position: relative;

        h2 {
            font-size: 22vw;
            position: absolute;
            opacity: 0.1;
            bottom: 13vw;
            line-height: 11vw;
            margin-left: -10%;
        }
        h4 {
            opacity: 0;
        }
        p {
            opacity: 0;
        }
        .col-sm-3 {
            margin-top: 50px;
        }
    }
    &__start {
        position: relative;
        overflow: hidden;

        h2 {
            font-size: 22vw;
            position: absolute;
            opacity: 0.1;
            bottom: 3vw;
            line-height: 11vw;
            margin-left: 25%;
        }
    }
    &__thumb-1 {
        width: 100%;
        height: 60vh;
        &-inner {
            background-color: #e6e6e6;
            height: 100%;
            opacity: 0;
        }
    }
    &__thumb-2 {
        height: 50vh;
        background-color: #e6e6e6;
        opacity: 0;
    }
    &__quote {
        display: flex;
        height: 50vh;

        h5 {
            opacity: 0;
        }
        p {
            opacity: 0;
        }

        &-inner {
            align-self: center;
        }
    }
    &__highlights {
        position: relative;
        overflow: hidden;

        &-image {
            width: 100%;
            height: 900px;
            background-color: #e6e6e6;
            opacity: 0;
        }
        &-text {
            padding-top: 30px;
            box-sizing: border-box;
        }
        &-list {
            opacity: 0;
        }
        &-list ul {
            margin-top: 80px;
            font-size: 20px;
            letter-spacing: 0.04em;
            line-height: 3;
            font-style: normal;
            font-weight: normal;
            color: white;
            font-family: 'GL-Regular';
            padding-left: 0;
        }
        &-list ul li {
            counter-increment: step-counter;
            margin-bottom: 10px;
            list-style: none;

            &:before {
                content: counter(step-counter);
                margin-right: 5px;
                font-size: 80%;
                color: #535353;
                margin-right: 30px;
            }
        }
    }
}
